{% extends 'layout.html.twig' %}

{% block content %}
    <h1>AHI AHI! C'è un errore. </h1>
    <p>Riprova piu' tardi oppure se il problema persiste, contatta la segreteria</p>

<hr/>
    <img src="/images/error.jpg" >
{% endblock %}