{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Test Login</h1>
    <p>prova qui le tue credenziali!</p>
    {% for message in app.session.getFlashBag.get('error') %}
        <div class="flash error">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.getFlashBag.get('success') %}
        <div class="flash success">{{ message }}</div>
    {% endfor %}
    <form method="POST" action="{{ path('test.form.validate') }}">
        <div><label for="username">username</label></div>
        <div><input type="text" id="username" name="username"></div>
        <div><label for="password">password</label></div>
        <div><input type="password" id="password" name="password"></div>
        <div><button>TEST</button></div>
    </form>
{% endblock %}