<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="ltr" lang="it"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="rn2014 authentication page">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default ("Authentication Test Page")}} - RN2014</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    {#<script type="text/javascript" src="/lib/jquery-1.10.2.min.js"></script>#}
    {#<script type="text/javascript" src="/lib/bootstrap.min.js"></script>#}
    {#<script type="text/javascript" src="/lib/bootstrap-select.min.js"></script>#}
    {#<script type="text/javascript" src="/lib/jquery.cookie.js"></script>#}

    {#<script type="text/javascript" src="/app/release/js/const.js"></script>#}
    {#<script type="text/javascript" src="/app/release/js/lib.js"></script>#}

    {#<link rel="stylesheet" href="/lib/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="/lib/bootstrap-select.css">#}
    {% block optionalcss %}

    {% endblock %}
    <link rel="stylesheet" href="/css/main.css">

    {#<!--[if IE]>#}
    {#<script type="text/javascript" src="/lib/html5shiv.js"></script>#}
    {#<script type="text/javascript" src="/lib/respond.min.js"></script>#}
    {#<![endif]-->#}
</head>

<body>
<!-- WRAPPER START -->
<div id="maincontainer" class="container">
    <div id="wrapper">
        {% block content %}

        {% endblock %}
    </div>
</div>
<!-- WRAPPER END -->

{% block afterscript %}


{% endblock %}

</body>
</html>
